@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100%;
    width: 100%;
}

section{
    width: 100%;
    height: 100vh;
   background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); 

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.hide{
    display: none;
}
.start{
    background-color: #485461;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: large;
}
.submit{
    width: 200px;
    border: none;
    outline: none;
    height: 50px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ffffff33;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    background-color: #ffffff33;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    width: 90%;
    margin-top: 10px;
    color: rgb(112, 241, 87);
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    place-items: center;
    height: 40px;
    border-radius: 40px;
}
.question-display{
    background-color: #ffffff33;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    width: 90%;
    height: 200px;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 26px;
}
.options-display{
  /*  position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-20%  ,-20%); */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 5px;
    
}
.option-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin-top: 20px; 
}

.option{
    width: 100%;
    margin: 5px;
    border: none;
    outline: none;
    height: 50px;
    display: grid;
    place-items: center;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ffffff33;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.option:hover{
    background-color: rgb(4, 167, 158);
}
.option:focus{
    background-color: rgb(0, 89, 255);
}
.lifeline{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 150px;
  /*  position: absolute;
    top: 100%;
    left: 90%;
    transform: translate(-80% , -0%); */
   
}
.submitBtn{
    width: 100%;
    display: grid;
    place-items: center;
}
.google{
    width: 60px;
    background-color: #ff22a333;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    height: 60px;
    border-radius: 50%;
    display: grid;
    place-content:center;
    color: rgb(80, 153, 248);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.google img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
<<<<<<< HEAD
=======
    
}
@keyframes round {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
>>>>>>> f04cb5720fb75635fb86e655b7b6111cd0f0fdd2
}

.google img:hover{
    width: 60px;
    height: 60px;
    animation: round infinite;
}

.fifty-fifty{
    display: grid;
    place-items: center;
    width: 70px;
    height: 70px;
    background-color: #ffffff33;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 50%;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    margin-left: 50px;
    transition: 0.2s ease-in-out;
}

.fifty-fifty:hover{
    font-size: 1.3rem;
}

@media only screen and (max-width: 1000px){
    .lifeline{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
<<<<<<< HEAD
    .options-display{
        display: inline-block;
        margin-top: 5px;
    }
    section{
        height: 100%;
        width: 100vw;
        display: grid;
        place-content: center;
    }
    .submitBtn{
        width: 100%;
        display: grid;
        place-content: center;
    }
    .question-display{
        width: 90%;
        height: 250px;
        padding-left:10px;
        padding-right: 10px;
        display: grid;
        place-content: center;
    }
    .question{
        font-size: 16px;
        font-weight: 200;
    }
    .options-display{
        width: 95%;
    }
    
}
=======
    .question-display {
        height: 300px;
    }
    
}
>>>>>>> f04cb5720fb75635fb86e655b7b6111cd0f0fdd2
